name: CI

on:
  push:
    branches: [master, feature-test]
  pull_request:
    branches: [master, feature-test]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install
        working-directory: ./tool

      - name: Run tests
        run: pnpm test
        working-directory: ./tool
